<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
  {% load static %}
<title>uLearn - Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Learn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{%static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{%static 'js/jquery.min.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{%static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{%static 'css/jquery.countdown.css' %}" />
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="{%static 'css/font-awesome.css' %}" rel="stylesheet">
<!----font-Awesome----->
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
  	<div class="container">
  	    <div class="navbar-header">
  	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  		        <span class="sr-only">Toggle navigation</span>
  		        <span class="icon-bar"></span>
  		        <span class="icon-bar"></span>
  		        <span class="icon-bar"></span>
  	        </button>
  	         <a class="navbar-brand" style="text-transform:none" href="index.html">uLearn</a>
  	    </div>
  	    <!--/.navbar-header-->
  	    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
  	        <ul class="nav navbar-nav">
  		        <li class="dropdown">
  		            <a href="login.html"><i class="fa fa-user"></i><span>Login</span></a>
  		        </li>




  		     </ul>
  	    </div>
  	    <div class="clearfix"> </div>
  	  </div>
  	    <!--/.navbar-collapse-->
  </nav>
  <nav class="navbar nav_bottom" role="navigation">
   <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
          <ul class="nav navbar-nav nav_1">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li class="last"><a href="login.html">Contacts</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
     </div>
  </nav>
<!-- banner -->
  <div class="courses_banner">
  	<div class="container">
  		<h3>Register</h3>
  		<p class="description">
             Please register to uLearn using instructions above.
        </p>
        <div class="breadcrumb1">
            <ul>
                <li class="icon6"><a href="index.html">Home</a></li>
                <li class="current-page">Register</li>
            </ul>
        </div>
  	</div>
  </div>
    <!-- //banner -->
	<div class="courses_box1">
	   <div class="container">
	   	  <form class="login">
                <p class="lead">Register a New Account</p>
                <div class="form-group">
                    <input type="text" autocomplete="off" class="required form-control" placeholder="E-mail *" name="email" value="">
                </div>
                <div class="form-group">
                    <input type="text" autocomplete="off" class="required form-control" placeholder="Name *" name="name" value="">
                </div>
                <div class="form-group">
                    <input type="text" autocomplete="off" class="required form-control" placeholder="Surname *" name="surname" value="">
                </div>
                <div class="form-group">
                    <input type="password" class="required form-control" placeholder="Password *" name="password" value="">
                </div>
                <div class="form-group">
                    <input type="password" class="required form-control" placeholder="Conform Password *" name="Conform Password" value="">
                </div>
                <div class="form-group">
                    <input type="text" autocomplete="off" class="required form-control" placeholder="Conform Email *" name="conform email" value="">
                </div>
                <div style="text-align:left;" class="form-group">
                <label>Date of Birth</label>
                  <input type="date" class="required form-control" id="exampleInputDOB1" placeholder="Date of Birth">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg1 btn-block" name="submit" value="Register">
                </div>
                <p>Already have an account? <a href="login.html">Sign In</a></p>
            </form>
	   </div>
	</div>
  <div class="footer">
    <div class="container">
      <div class="clearfix"> </div>
      <div class="copy">
         <p>Copyright © 2017 uLearn . All Rights Reserved  | Developed by <a href="" target="_blank">uLearn</a> </p>
        </div>
    </div>
  </div>
</body>
</html>
