{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<!-- banner -->
  <div class="courses_banner">
  	<div class="container">
  		<h3>Register</h3>
  		<p class="description">
             Please register to uLearn using instructions below.
        </p>
        <div class="breadcrumb1">
            <ul>
                <li class="icon6"><a href="/">Home</a></li>
                <li class="current-page">Register</li>
            </ul>
        </div>
  	</div>
  </div>
    <!-- //banner -->
	<div class="courses_box1">
	   <div class="container">

	   	  <form class="login" action="register" method="post">
          {% csrf_token %}
                <p class="lead">Register New Account</p>


                <div class="form-group">
                  {{form.email}}
                </div>
                <div class="form-group">
                  {{form.name}}
                </div>
                <div class="form-group">
                  {{form.surname}}
                </div>
                <div class="form-group">

                  {{form.password}}
                </div>
                <div class="form-group">
                  {{form.conform_password}}
                </div>

                <div style="text-align:left;" class="form-group">

                {{form.birth_date}}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg1 btn-block" name="submit" value="Register">
                </div>
                <p>Are you  a teacher? <a href="TeacherR.html">Register as a Teacher</a></p>
                <p>Already have an account? <a href="login.html">Sign In</a></p>
            </form>
	   </div>
	</div>
{% endblock content %}
